#nav {
  --nav-dark-blue: #000a33;
  --nav-yellow: #ffe484;

  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1050;
  background: var(--nav-dark-blue);
  min-height: 3em;
  // explicit padding, slightly larger to the right than left
  padding: 0.5em 1.5em 0.5em 1em;

  .nav-logo {
    display: block;
    max-width: inherit;
    max-height: inherit;
    height: 3em;
    object-fit: contain;
    left: 0;
  }
  @media (max-width: at-most($small)) {
    .nav-not-essential {
      display: none;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    align-items: center;
    margin-bottom: 0; // added in basics.scss ...

    .nav-item {
      display: block;
      text-align: center;
      padding: 0.5rem 1rem;
      @media (max-width: at-most($medium)) {
        padding: 0 1.2em 0 1.2em;
      }

      > a,
      > span {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        font-size: 16px;
      }

      &:hover {
        > a {
          color: #fff;
        }
      }
    }
  }

  .nav-inscription-link {
    margin-left: auto;
    font-weight: 500;
    color: var(--nav-yellow);
    text-decoration: none;
    border: 1px solid var(--nav-yellow);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:hover {
      color: var(--nav-dark-blue);
      background-color: var(--nav-yellow);
    }
  }
}
